In [2]:
import pandas as pd

In [3]:
properties = pd.read_csv("data/raw/properties.csv")

In [4]:
properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75511 entries, 0 to 75510
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              75511 non-null  int64
 1   price                           75511 non-null  float64
 2   property_type                   75511 non-null  object
 3   subproperty_type                75511 non-null  object
 4   region                          75511 non-null  object
 5   province                        75511 non-null  object
 6   locality                        75511 non-null  object
 7   zip_code                        75511 non-null  int64
 8   latitude                        61413 non-null  float64
 9   longitude                       61413 non-null  float64
 10  construction_year               42120 non-null  float64
 11  total_area_sqm                  67896 non-null  float64
 12  surface_land_sqm                39255 non-null  float64
 13  nbr_frontages                   49165 non-null  float64
 14  nbr_bedrooms                    75511 non-null  float64
 15  equipped_kitchen                75511 non-null  object
 16  fl_furnished                    75511 non-null  int64
 17  fl_open_fire                    75511 non-null  int64
 18  fl_terrace                      75511 non-null  int64
 19  terrace_sqm                     62371 non-null  float64
 20  fl_garden                       75511 non-null  int64
 21  garden_sqm                      72572 non-null  float64
 22  fl_swimming_pool                75511 non-null  int64
 23  fl_floodzone                    75511 non-null  int64
 24  state_building                  75511 non-null  object
 25  primary_energy_consumption_sqm  48944 non-null  float64
 26  epc                             75511 non-null  object
 27  heating_type                    75511 non-null  object
 28  fl_double_glazing               75511 non-null  int64
 29  cadastral_income                30544 non-null  float64
dtypes: float64(12), int64(9), object(9)
memory usage: 17.3+ MB

In [5]:
properties = properties.drop(columns=["nbr_frontages", "surface_land_sqm", 
                                      "fl_terrace", "fl_garden", "epc", 
                                      "heating_type", "cadastral_income","longitude","latitude"], axis=1)

In [6]:
properties = properties.dropna()

In [7]:
properties.construction_year = properties.construction_year.astype("int64")
properties.nbr_bedrooms = properties.nbr_bedrooms.astype("int64")

In [8]:
properties.dtypes

id                                  int64
price                             float64
property_type                      object
subproperty_type                   object
region                             object
province                           object
locality                           object
zip_code                            int64
construction_year                   int64
total_area_sqm                    float64
nbr_bedrooms                        int64
equipped_kitchen                   object
fl_furnished                        int64
fl_open_fire                        int64
terrace_sqm                       float64
garden_sqm                        float64
fl_swimming_pool                    int64
fl_floodzone                        int64
state_building                     object
primary_energy_consumption_sqm    float64
fl_double_glazing                   int64
dtype: object

In [9]:
properties.describe()

,id,price,zip_code,construction_year,total_area_sqm,nbr_bedrooms,fl_furnished,fl_open_fire,terrace_sqm,garden_sqm,fl_swimming_pool,fl_floodzone,primary_energy_consumption_sqm,fl_double_glazing
count,2.075800e+04,2.075800e+04,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,20758.000000,2.075800e+04,20758.000000
mean,3.985946e+07,4.517904e+05,4699.065228,1974.308797,160.694913,2.800607,0.026062,0.160661,13.700116,173.662973,0.021871,0.398786,4.557638e+02,0.754793
std,2.288478e+07,4.686182e+05,3108.111202,40.867617,131.023296,1.762282,0.159324,0.367227,41.684939,1279.606997,0.146266,0.489660,2.084632e+04,0.430220
min,2.000000e+03,7.700000e+04,1000.000000,1759.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.900000e+01,0.000000
25%,2.023225e+07,2.399000e+05,1850.000000,1954.000000,89.250000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.120000e+02,1.000000
50%,3.980000e+07,3.300000e+05,3800.000000,1976.000000,126.000000,3.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,2.110000e+02,1.000000
75%,5.970700e+07,4.890000e+05,8300.000000,2010.000000,192.000000,3.000000,0.000000,0.000000,17.000000,1.000000,0.000000,1.000000,3.540000e+02,1.000000
max,7.948200e+07,1.145000e+07,9992.000000,2024.000000,5000.000000,100.000000,1.000000,1.000000,3466.000000,65000.000000,1.000000,1.000000,2.994164e+06,1.000000

In [10]:
with open("data/cleaned/properties.csv", "wb") as csv_file:
    pd.DataFrame.to_csv(properties, csv_file, index=False)